## Data Science Outlook
### Authors:
        Kathleen Freeberg
        Smitha Sharma
        Sanjeev Mankar
        
#### Program : Main_DS_Outlook.ipy

                                    ### Start of the Code ###

### Import libraries & API Keys

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import os
import csv

# Import API key
from config import census_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

                                ### Import Data Sets ###

In [10]:
## Import Postion Master
position_mstr_df = pd.read_csv("../Sources/DS_Position_Data.csv")
## Import University Data
university_mstr_df = pd.read_csv("../Sources/University_data.csv")
## Import US Data Science Job Market Kaggle
DS_Job_Mkt_Kagglle_df = pd.read_csv("../Sources/DS_Job_Mkt_US.csv")

In [12]:
DS_Job_Mkt_Kagglle_df.head()

,position,company,description,reviews,location,City,State
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301",Atlanta,GA
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA",Atlanta,GA
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA",Atlanta,GA
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303",Atlanta,GA
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA",Atlanta,GA